body {
    font-family: 'Poppins', sans-serif;
    background-image: url("donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}

h1 {
    font-size: 80px;
    position: sticky;
}

h3 {
    color: aliceblue;
}

.text-size {
    color: aliceblue;
    text-align: center;
    text
}

section {
    padding: 10%;
    margin: 50px 10px 5px 10px;


}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange);
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    align-items: center;
    margin-left: 500px;
}